body{
    text-align: center;
}
h2{
    text-align: center;
    margin: auto;
}
button{
    margin: auto;
    border: 2px solid black;
    border-radius: 8px;
    background-color: antiquewhite;
    height: 30px;
}
div{
    border: 3px solid black;
    border-radius: 20px;
    width: 400px;
    height:300px;
    margin: auto;
}
h1{
    text-decoration: underline;
}